# 용산구_Top3 동 선정
* 거주인구 데이터 이용
* 거주인구 / 주차장 수 -> Top3 동 선정

# 데이터 준비

## 필요한 라이브러리 불러오기

In [1]:
import pandas as pd
import numpy as np

## 용산구 주차장(동별) 통계 불러오기

In [2]:
pkl = pd.read_excel("data/서울시 주차장(동별) 통계.xls")

In [3]:
columns = ["기간", "자치구", "동", "합계", "합계.1"]
pkl = pkl[columns].copy()
pkl = pkl.drop([0])
pkl

       기간  자치구     동      합계     합계.1
1      기간  자치구     동      개소       면수
2    2016   합계    합계  308574  3983291
3    2016  종로구    소계    7224    78985
4    2016  종로구   사직동     371    12684
5    2016  종로구   삼청동     205     1686
..    ...  ...   ...     ...      ...
447  2016  강동구  둔촌1동      13     6257
448  2016  강동구  둔촌2동     816    11184
449  2016  강동구  암사1동    1746    11173
450  2016  강동구  천호2동    1699    15231
451  2016  강동구    길동    1735    19515

[451 rows x 5 columns]

In [4]:
# 용산구만 보기
is_용산구 = pkl['자치구'] == '용산구'
pkl_용산구 = pkl[is_용산구]
pkl_용산구

      기간  자치구      동    합계    합계.1
37  2016  용산구     소계  7194  102472
38  2016  용산구    후암동   723    4561
39  2016  용산구  용산2가동   432    1684
40  2016  용산구    남영동   255    5405
41  2016  용산구  원효로2동   288    5196
42  2016  용산구    효창동   332    2991
43  2016  용산구    용문동   310    3877
44  2016  용산구   이촌1동    78   10380
45  2016  용산구   이촌2동    71    2322
46  2016  용산구  이태원1동   381    2742
47  2016  용산구  이태원2동   731    4017
48  2016  용산구   서빙고동   286    6527
49  2016  용산구    보광동   347    2033
50  2016  용산구    청파동   913    5743
51  2016  용산구  원효로1동   384    7882
52  2016  용산구   한강로동   440   21443
53  2016  용산구    한남동  1223   15669

## 거주인구 데이터 불러오기
* 201601_201606_주민등록인구및세대현황_월간.csv 
* 201607_201612_주민등록인구및세대현황_월간.csv

In [5]:
# 2가지 데이터 합치기
df1 = pd.read_csv("data/201601_201606_주민등록인구및세대현황_월간.csv", encoding="euc_kr", thousands = ',')
df2 = pd.read_csv("data/201607_201612_주민등록인구및세대현황_월간.csv", encoding="euc_kr", thousands = ',')
df = pd.concat([df1, df2], axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 74 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   행정구역             17 non-null     object
 1   2016년01월_총인구수    17 non-null     int64
 2   2016년01월_세대수     17 non-null     int64
 3   2016년01월_세대당 인구  17 non-null     float64
 4   2016년01월_남자 인구수  17 non-null     int64
 5   2016년01월_여자 인구수  17 non-null     int64
 6   2016년01월_남여 비율   17 non-null     float64
 7   2016년02월_총인구수    17 non-null     int64
 8   2016년02월_세대수     17 non-null     int64
 9   2016년02월_세대당 인구  17 non-null     float64
 10  2016년02월_남자 인구수  17 non-null     int64
 11  2016년02월_여자 인구수  17 non-null     int64
 12  2016년02월_남여 비율   17 non-null     float64
 13  2016년03월_총인구수    17 non-null     int64
 14  2016년03월_세대수     17 non-null     int64
 15  2016년03월_세대당 인구  17 non-null     float64
 16  2016년03월_남자 인구수  17 non-null     int64
 17  2016년03월_여자 인구수  17 non-null     int64
 18  2016년03월_남여 비율   17 non-null     float64
 19  2016년04월_총인구수    17 non-null     int64
 20  2016년04월_세대수     17 non-null     int64
 21  2016년04월_세대당 인구  17 non-null     float64
 22  2016년04월_남자 인구수  17 non-null     int64
 23  2016년04월_여자 인구수  17 non-null     int64
 24  2016년04월_남여 비율   17 non-null     float64
 25  2016년05월_총인구수    17 non-null     int64
 26  2016년05월_세대수     17 non-null     int64
 27  2016년05월_세대당 인구  17 non-null     float64
 28  2016년05월_남자 인구수  17 non-null     int64
 29  2016년05월_여자 인구수  17 non-null     int64
 30  2016년05월_남여 비율   17 non-null     float64
 31  2016년06월_총인구수    17 non-null     int64
 32  2016년06월_세대수     17 non-null     int64
 33  2016년06월_세대당 인구  17 non-null     float64
 34  2016년06월_남자 인구수  17 non-null     int64
 35  2016년06월_여자 인구수  17 non-null     int64
 36  2016년06월_남여 비율   17 non-null     float64
 37  행정구역             17 non-null     object
 38  2016년07월_총인구수    17 non-null     int64
 39  2016년07월_세대수     17 non-null     int64
 40  2016년07월_세대당 인구  17 non-null     float64
 41  2016년07월_남자 인구수  17 non-null     int64
 42  2016년07월_여자 인구수  17 non-null     int64
 43  2016년07월_남여 비율   17 non-null     float64
 44  2016년08월_총인구수    17 non-null     int64
 45  2016년08월_세대수     17 non-null     int64
 46  2016년08월_세대당 인구  17 non-null     float64
 47  2016년08월_남자 인구수  17 non-null     int64
 48  2016년08월_여자 인구수  17 non-null     int64
 49  2016년08월_남여 비율   17 non-null     float64
 50  2016년09월_총인구수    17 non-null     int64
 51  2016년09월_세대수     17 non-null     int64
 52  2016년09월_세대당 인구  17 non-null     float64
 53  2016년09월_남자 인구수  17 non-null     int64
 54  2016년09월_여자 인구수  17 non-null     int64
 55  2016년09월_남여 비율   17 non-null     float64
 56  2016년10월_총인구수    17 non-null     int64
 57  2016년10월_세대수     17 non-null     int64
 58  2016년10월_세대당 인구  17 non-null     float64
 59  2016년10월_남자 인구수  17 non-null     int64
 60  2016년10월_여자 인구수  17 non-null     int64
 61  2016년10월_남여 비율   17 non-null     float64
 62  2016년11월_총인구수    17 non-null     int64
 63  2016년11월_세대수     17 non-null     int64
 64  2016년11월_세대당 인구  17 non-null     float64
 65  2016년11월_남자 인구수  17 non-null     int64
 66  2016년11월_여자 인구수  17 non-null     int64
 67  2016년11월_남여 비율   17 non-null     float64
 68  2016년12월_총인구수    17 non-null     int64
 69  2016년12월_세대수     17 non-null     int64
 70  2016년12월_세대당 인구  17 non-null     float64
 71  2016년12월_남자 인구수  17 non-null     int64
 72  2016년12월_여자 인구수  17 non-null     int64
 73  2016년12월_남여 비율   17 non-null     float64
dtypes: float64(24), int64(48), object(2)
memory usage: 10.0+ KB

In [6]:
columns = ["행정구역", "2016년01월_총인구수", "2016년02월_총인구수", "2016년03월_총인구수", "2016년04월_총인구수", "2016년05월_총인구수", "2016년06월_총인구수", "2016년07월_총인구수", "2016년08월_총인구수", "2016년09월_총인구수", "2016년10월_총인구수", "2016년11월_총인구수", "2016년12월_총인구수"]
df = df[columns].copy()
df

,행정구역,행정구역,2016년01월_총인구수,2016년02월_총인구수,2016년03월_총인구수,2016년04월_총인구수,2016년05월_총인구수,2016년06월_총인구수,2016년07월_총인구수,2016년08월_총인구수,2016년09월_총인구수,2016년10월_총인구수,2016년11월_총인구수,2016년12월_총인구수
0,서울특별시 용산구 (1117000000),서울특별시 용산구 (1117000000),233069,232869,232684,232543,232389,232335,232242,231857,231528,231015,230593,230241
1,서울특별시 용산구 후암동(1117051000),서울특별시 용산구 후암동(1117051000),19006,19012,18995,19015,19019,18962,18908,18864,18821,18766,18797,18752
2,서울특별시 용산구 용산2가동(1117052000),서울특별시 용산구 용산2가동(1117052000),11786,11806,11786,11746,11696,11663,11656,11586,11558,11492,11422,11371
3,서울특별시 용산구 남영동(1117053000),서울특별시 용산구 남영동(1117053000),8155,8185,8185,8204,8201,8178,8196,8176,8190,8166,8116,8064
4,서울특별시 용산구 청파동(1117055500),서울특별시 용산구 청파동(1117055500),21470,21468,21383,21322,21324,21250,21228,21195,21165,21146,21076,21039
5,서울특별시 용산구 원효로제1동(1117056000),서울특별시 용산구 원효로제1동(1117056000),13781,13750,13778,13816,13838,13906,13949,14008,14049,14072,14145,14129
6,서울특별시 용산구 원효로제2동(1117057000),서울특별시 용산구 원효로제2동(1117057000),15522,15516,15461,15469,15446,15425,15409,15417,15430,15338,15303,15355
7,서울특별시 용산구 효창동(1117058000),서울특별시 용산구 효창동(1117058000),9626,9532,9544,9558,9558,9571,9547,9507,9503,9486,9452,9426
8,서울특별시 용산구 용문동(1117059000),서울특별시 용산구 용문동(1117059000),12850,12824,12877,12885,12855,12870,12854,12817,12791,12805,12770,12710
9,서울특별시 용산구 한강로동(1117062500),서울특별시 용산구 한강로동(1117062500),14901,14927,14909,14942,14906,14893,14965,14981,14964,14931,14888,14899
10,서울특별시 용산구 이촌제1동(1117063000),서울특별시 용산구 이촌제1동(1117063000),27693,27740,27722,27709,27641,27745,27729,27762,27771,27823,27808,27880
11,서울특별시 용산구 이촌제2동(1117064000),서울특별시 용산구 이촌제2동(1117064000),9534,9493,9474,9427,9430,9405,9416,9393,9380,9300,9289,9290
12,서울특별시 용산구 이태원제1동(1117065000),서울특별시 용산구 이태원제1동(1117065000),7482,7474,7494,7474,7474,7481,7459,7447,7404,7383,7330,7326
13,서울특별시 용산구 이태원제2동(1117066000),서울특별시 용산구 이태원제2동(1117066000),9906,9855,9801,9799,9790,9784,9760,9732,9721,9682,9646,9596
14,서울특별시 용산구 한남동(1117068500),서울특별시 용산구 한남동(1117068500),21508,21376,21286,21250,21280,21229,21195,21060,20944,20921,20817,20771
15,서울특별시 용산구 서빙고동(1117069000),서울특별시 용산구 서빙고동(1117069000),13643,13694,13815,13814,13834,13916,13936,13886,13853,13815,13893,13827
16,서울특별시 용산구 보광동(1117070000),서울특별시 용산구 보광동(1117070000),16206,16217,16174,16113,16097,16057,16035,16026,15984,15889,15841,15806

In [7]:
df.dtypes

행정구역             object
행정구역             object
2016년01월_총인구수     int64
2016년02월_총인구수     int64
2016년03월_총인구수     int64
2016년04월_총인구수     int64
2016년05월_총인구수     int64
2016년06월_총인구수     int64
2016년07월_총인구수     int64
2016년08월_총인구수     int64
2016년09월_총인구수     int64
2016년10월_총인구수     int64
2016년11월_총인구수     int64
2016년12월_총인구수     int64
dtype: object

In [8]:
col = ["2016년01월_총인구수", "2016년02월_총인구수", "2016년03월_총인구수", "2016년04월_총인구수", "2016년05월_총인구수", "2016년06월_총인구수", "2016년07월_총인구수", "2016년08월_총인구수", "2016년09월_총인구수", "2016년10월_총인구수", "2016년11월_총인구수", "2016년12월_총인구수"]
df['sum'] = df[col].sum(axis=1)
df

,행정구역,행정구역,2016년01월_총인구수,2016년02월_총인구수,2016년03월_총인구수,2016년04월_총인구수,2016년05월_총인구수,2016년06월_총인구수,2016년07월_총인구수,2016년08월_총인구수,2016년09월_총인구수,2016년10월_총인구수,2016년11월_총인구수,2016년12월_총인구수,sum
0,서울특별시 용산구 (1117000000),서울특별시 용산구 (1117000000),233069,232869,232684,232543,232389,232335,232242,231857,231528,231015,230593,230241,2783365
1,서울특별시 용산구 후암동(1117051000),서울특별시 용산구 후암동(1117051000),19006,19012,18995,19015,19019,18962,18908,18864,18821,18766,18797,18752,226917
2,서울특별시 용산구 용산2가동(1117052000),서울특별시 용산구 용산2가동(1117052000),11786,11806,11786,11746,11696,11663,11656,11586,11558,11492,11422,11371,139568
3,서울특별시 용산구 남영동(1117053000),서울특별시 용산구 남영동(1117053000),8155,8185,8185,8204,8201,8178,8196,8176,8190,8166,8116,8064,98016
4,서울특별시 용산구 청파동(1117055500),서울특별시 용산구 청파동(1117055500),21470,21468,21383,21322,21324,21250,21228,21195,21165,21146,21076,21039,255066
5,서울특별시 용산구 원효로제1동(1117056000),서울특별시 용산구 원효로제1동(1117056000),13781,13750,13778,13816,13838,13906,13949,14008,14049,14072,14145,14129,167221
6,서울특별시 용산구 원효로제2동(1117057000),서울특별시 용산구 원효로제2동(1117057000),15522,15516,15461,15469,15446,15425,15409,15417,15430,15338,15303,15355,185091
7,서울특별시 용산구 효창동(1117058000),서울특별시 용산구 효창동(1117058000),9626,9532,9544,9558,9558,9571,9547,9507,9503,9486,9452,9426,114310
8,서울특별시 용산구 용문동(1117059000),서울특별시 용산구 용문동(1117059000),12850,12824,12877,12885,12855,12870,12854,12817,12791,12805,12770,12710,153908
9,서울특별시 용산구 한강로동(1117062500),서울특별시 용산구 한강로동(1117062500),14901,14927,14909,14942,14906,14893,14965,14981,14964,14931,14888,14899,179106
10,서울특별시 용산구 이촌제1동(1117063000),서울특별시 용산구 이촌제1동(1117063000),27693,27740,27722,27709,27641,27745,27729,27762,27771,27823,27808,27880,333023
11,서울특별시 용산구 이촌제2동(1117064000),서울특별시 용산구 이촌제2동(1117064000),9534,9493,9474,9427,9430,9405,9416,9393,9380,9300,9289,9290,112831
12,서울특별시 용산구 이태원제1동(1117065000),서울특별시 용산구 이태원제1동(1117065000),7482,7474,7494,7474,7474,7481,7459,7447,7404,7383,7330,7326,89228
13,서울특별시 용산구 이태원제2동(1117066000),서울특별시 용산구 이태원제2동(1117066000),9906,9855,9801,9799,9790,9784,9760,9732,9721,9682,9646,9596,117072
14,서울특별시 용산구 한남동(1117068500),서울특별시 용산구 한남동(1117068500),21508,21376,21286,21250,21280,21229,21195,21060,20944,20921,20817,20771,253637
15,서울특별시 용산구 서빙고동(1117069000),서울특별시 용산구 서빙고동(1117069000),13643,13694,13815,13814,13834,13916,13936,13886,13853,13815,13893,13827,165926
16,서울특별시 용산구 보광동(1117070000),서울특별시 용산구 보광동(1117070000),16206,16217,16174,16113,16097,16057,16035,16026,15984,15889,15841,15806,192445

In [9]:
column = ["행정구역", "sum"]
df = df[column].copy()
df

                            행정구역                          행정구역      sum
0         서울특별시 용산구 (1117000000)        서울특별시 용산구 (1117000000)  2783365
1      서울특별시 용산구 후암동(1117051000)     서울특별시 용산구 후암동(1117051000)   226917
2    서울특별시 용산구 용산2가동(1117052000)   서울특별시 용산구 용산2가동(1117052000)   139568
3      서울특별시 용산구 남영동(1117053000)     서울특별시 용산구 남영동(1117053000)    98016
4      서울특별시 용산구 청파동(1117055500)     서울특별시 용산구 청파동(1117055500)   255066
5   서울특별시 용산구 원효로제1동(1117056000)  서울특별시 용산구 원효로제1동(1117056000)   167221
6   서울특별시 용산구 원효로제2동(1117057000)  서울특별시 용산구 원효로제2동(1117057000)   185091
7      서울특별시 용산구 효창동(1117058000)     서울특별시 용산구 효창동(1117058000)   114310
8      서울특별시 용산구 용문동(1117059000)     서울특별시 용산구 용문동(1117059000)   153908
9     서울특별시 용산구 한강로동(1117062500)    서울특별시 용산구 한강로동(1117062500)   179106
10   서울특별시 용산구 이촌제1동(1117063000)   서울특별시 용산구 이촌제1동(1117063000)   333023
11   서울특별시 용산구 이촌제2동(1117064000)   서울특별시 용산구 이촌제2동(1117064000)   112831
12  서울특별시 용산구 이태원제1동(1117065000)  서울특별시 용산구 이태원제1동(1117065000)    89228
13  서울특별시 용산구 이태원제2동(1117066000)  서울특별시 용산구 이태원제2동(1117066000)   117072
14     서울특별시 용산구 한남동(1117068500)     서울특별시 용산구 한남동(1117068500)   253637
15    서울특별시 용산구 서빙고동(1117069000)    서울특별시 용산구 서빙고동(1117069000)   165926
16     서울특별시 용산구 보광동(1117070000)     서울특별시 용산구 보광동(1117070000)   192445

# 거주인구 / 주차장 수 비율

In [10]:
pkl_용산구

      기간  자치구      동    합계    합계.1
37  2016  용산구     소계  7194  102472
38  2016  용산구    후암동   723    4561
39  2016  용산구  용산2가동   432    1684
40  2016  용산구    남영동   255    5405
41  2016  용산구  원효로2동   288    5196
42  2016  용산구    효창동   332    2991
43  2016  용산구    용문동   310    3877
44  2016  용산구   이촌1동    78   10380
45  2016  용산구   이촌2동    71    2322
46  2016  용산구  이태원1동   381    2742
47  2016  용산구  이태원2동   731    4017
48  2016  용산구   서빙고동   286    6527
49  2016  용산구    보광동   347    2033
50  2016  용산구    청파동   913    5743
51  2016  용산구  원효로1동   384    7882
52  2016  용산구   한강로동   440   21443
53  2016  용산구    한남동  1223   15669

In [11]:
del pkl_용산구['합계']
pkl_용산구.rename(columns = {'합계.1' : '주차장'}, inplace = True)
pkl_용산구

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

      기간  자치구      동     주차장
37  2016  용산구     소계  102472
38  2016  용산구    후암동    4561
39  2016  용산구  용산2가동    1684
40  2016  용산구    남영동    5405
41  2016  용산구  원효로2동    5196
42  2016  용산구    효창동    2991
43  2016  용산구    용문동    3877
44  2016  용산구   이촌1동   10380
45  2016  용산구   이촌2동    2322
46  2016  용산구  이태원1동    2742
47  2016  용산구  이태원2동    4017
48  2016  용산구   서빙고동    6527
49  2016  용산구    보광동    2033
50  2016  용산구    청파동    5743
51  2016  용산구  원효로1동    7882
52  2016  용산구   한강로동   21443
53  2016  용산구    한남동   15669

In [12]:
df

                            행정구역                          행정구역      sum
0         서울특별시 용산구 (1117000000)        서울특별시 용산구 (1117000000)  2783365
1      서울특별시 용산구 후암동(1117051000)     서울특별시 용산구 후암동(1117051000)   226917
2    서울특별시 용산구 용산2가동(1117052000)   서울특별시 용산구 용산2가동(1117052000)   139568
3      서울특별시 용산구 남영동(1117053000)     서울특별시 용산구 남영동(1117053000)    98016
4      서울특별시 용산구 청파동(1117055500)     서울특별시 용산구 청파동(1117055500)   255066
5   서울특별시 용산구 원효로제1동(1117056000)  서울특별시 용산구 원효로제1동(1117056000)   167221
6   서울특별시 용산구 원효로제2동(1117057000)  서울특별시 용산구 원효로제2동(1117057000)   185091
7      서울특별시 용산구 효창동(1117058000)     서울특별시 용산구 효창동(1117058000)   114310
8      서울특별시 용산구 용문동(1117059000)     서울특별시 용산구 용문동(1117059000)   153908
9     서울특별시 용산구 한강로동(1117062500)    서울특별시 용산구 한강로동(1117062500)   179106
10   서울특별시 용산구 이촌제1동(1117063000)   서울특별시 용산구 이촌제1동(1117063000)   333023
11   서울특별시 용산구 이촌제2동(1117064000)   서울특별시 용산구 이촌제2동(1117064000)   112831
12  서울특별시 용산구 이태원제1동(1117065000)  서울특별시 용산구 이태원제1동(1117065000)    89228
13  서울특별시 용산구 이태원제2동(1117066000)  서울특별시 용산구 이태원제2동(1117066000)   117072
14     서울특별시 용산구 한남동(1117068500)     서울특별시 용산구 한남동(1117068500)   253637
15    서울특별시 용산구 서빙고동(1117069000)    서울특별시 용산구 서빙고동(1117069000)   165926
16     서울특별시 용산구 보광동(1117070000)     서울특별시 용산구 보광동(1117070000)   192445

In [13]:
df = df.drop(index = 0, axis=1)
df

                            행정구역                          행정구역     sum
1      서울특별시 용산구 후암동(1117051000)     서울특별시 용산구 후암동(1117051000)  226917
2    서울특별시 용산구 용산2가동(1117052000)   서울특별시 용산구 용산2가동(1117052000)  139568
3      서울특별시 용산구 남영동(1117053000)     서울특별시 용산구 남영동(1117053000)   98016
4      서울특별시 용산구 청파동(1117055500)     서울특별시 용산구 청파동(1117055500)  255066
5   서울특별시 용산구 원효로제1동(1117056000)  서울특별시 용산구 원효로제1동(1117056000)  167221
6   서울특별시 용산구 원효로제2동(1117057000)  서울특별시 용산구 원효로제2동(1117057000)  185091
7      서울특별시 용산구 효창동(1117058000)     서울특별시 용산구 효창동(1117058000)  114310
8      서울특별시 용산구 용문동(1117059000)     서울특별시 용산구 용문동(1117059000)  153908
9     서울특별시 용산구 한강로동(1117062500)    서울특별시 용산구 한강로동(1117062500)  179106
10   서울특별시 용산구 이촌제1동(1117063000)   서울특별시 용산구 이촌제1동(1117063000)  333023
11   서울특별시 용산구 이촌제2동(1117064000)   서울특별시 용산구 이촌제2동(1117064000)  112831
12  서울특별시 용산구 이태원제1동(1117065000)  서울특별시 용산구 이태원제1동(1117065000)   89228
13  서울특별시 용산구 이태원제2동(1117066000)  서울특별시 용산구 이태원제2동(1117066000)  117072
14     서울특별시 용산구 한남동(1117068500)     서울특별시 용산구 한남동(1117068500)  253637
15    서울특별시 용산구 서빙고동(1117069000)    서울특별시 용산구 서빙고동(1117069000)  165926
16     서울특별시 용산구 보광동(1117070000)     서울특별시 용산구 보광동(1117070000)  192445

In [14]:
df.T.duplicated()
~df.T.duplicated()
df = df.loc[:, ~df.T.duplicated()]

In [15]:
df['mean'] = df['sum'] / 12
del df['sum']
df

                            행정구역          mean
1      서울특별시 용산구 후암동(1117051000)  18909.750000
2    서울특별시 용산구 용산2가동(1117052000)  11630.666667
3      서울특별시 용산구 남영동(1117053000)   8168.000000
4      서울특별시 용산구 청파동(1117055500)  21255.500000
5   서울특별시 용산구 원효로제1동(1117056000)  13935.083333
6   서울특별시 용산구 원효로제2동(1117057000)  15424.250000
7      서울특별시 용산구 효창동(1117058000)   9525.833333
8      서울특별시 용산구 용문동(1117059000)  12825.666667
9     서울특별시 용산구 한강로동(1117062500)  14925.500000
10   서울특별시 용산구 이촌제1동(1117063000)  27751.916667
11   서울특별시 용산구 이촌제2동(1117064000)   9402.583333
12  서울특별시 용산구 이태원제1동(1117065000)   7435.666667
13  서울특별시 용산구 이태원제2동(1117066000)   9756.000000
14     서울특별시 용산구 한남동(1117068500)  21136.416667
15    서울특별시 용산구 서빙고동(1117069000)  13827.166667
16     서울특별시 용산구 보광동(1117070000)  16037.083333

In [16]:
df.rename(columns = {"행정구역" : '동'}, inplace = True)
df

                               동          mean
1      서울특별시 용산구 후암동(1117051000)  18909.750000
2    서울특별시 용산구 용산2가동(1117052000)  11630.666667
3      서울특별시 용산구 남영동(1117053000)   8168.000000
4      서울특별시 용산구 청파동(1117055500)  21255.500000
5   서울특별시 용산구 원효로제1동(1117056000)  13935.083333
6   서울특별시 용산구 원효로제2동(1117057000)  15424.250000
7      서울특별시 용산구 효창동(1117058000)   9525.833333
8      서울특별시 용산구 용문동(1117059000)  12825.666667
9     서울특별시 용산구 한강로동(1117062500)  14925.500000
10   서울특별시 용산구 이촌제1동(1117063000)  27751.916667
11   서울특별시 용산구 이촌제2동(1117064000)   9402.583333
12  서울특별시 용산구 이태원제1동(1117065000)   7435.666667
13  서울특별시 용산구 이태원제2동(1117066000)   9756.000000
14     서울특별시 용산구 한남동(1117068500)  21136.416667
15    서울특별시 용산구 서빙고동(1117069000)  13827.166667
16     서울특별시 용산구 보광동(1117070000)  16037.083333

In [17]:
# 동 같게 마늘기
df.loc[1] = ('후암동', 18909.750000)
df.loc[2] = ('용산2가동', 11630.666667)
df.loc[3] = ('남영동', 8168.000000)
df.loc[4] = ('청파동', 21255.500000)
df.loc[5] = ('원효로1동', 13935.083333)
df.loc[6] = ('원효로2동', 15424.250000)
df.loc[7] = ('효창동', 9525.833333)
df.loc[8] = ('용문동', 12825.666667)
df.loc[9] = ('한강로동', 14925.500000)
df.loc[10] = ('이촌1동', 27751.916667)
df.loc[11] = ('이촌2동', 9402.583333)
df.loc[12] = ('이태원1동', 7435.666667)
df.loc[13] = ('이태원2동', 9756.000000)
df.loc[14] = ('한남동', 21136.416667)
df.loc[15] = ('서빙고동', 13827.166667)
df.loc[16] = ('보광동', 16037.083333)
df

        동          mean
1     후암동  18909.750000
2   용산2가동  11630.666667
3     남영동   8168.000000
4     청파동  21255.500000
5   원효로1동  13935.083333
6   원효로2동  15424.250000
7     효창동   9525.833333
8     용문동  12825.666667
9    한강로동  14925.500000
10   이촌1동  27751.916667
11   이촌2동   9402.583333
12  이태원1동   7435.666667
13  이태원2동   9756.000000
14    한남동  21136.416667
15   서빙고동  13827.166667
16    보광동  16037.083333

## 순위 선정

In [18]:
c_y = pd.merge(pkl_용산구, df, how='outer')
c_y = c_y.sort_values(by=['동'])
c_y

      기간  자치구      동     주차장          mean
3   2016  용산구    남영동    5405   8168.000000
12  2016  용산구    보광동    2033  16037.083333
11  2016  용산구   서빙고동    6527  13827.166667
0   2016  용산구     소계  102472           NaN
6   2016  용산구    용문동    3877  12825.666667
2   2016  용산구  용산2가동    1684  11630.666667
14  2016  용산구  원효로1동    7882  13935.083333
4   2016  용산구  원효로2동    5196  15424.250000
7   2016  용산구   이촌1동   10380  27751.916667
8   2016  용산구   이촌2동    2322   9402.583333
9   2016  용산구  이태원1동    2742   7435.666667
10  2016  용산구  이태원2동    4017   9756.000000
13  2016  용산구    청파동    5743  21255.500000
15  2016  용산구   한강로동   21443  14925.500000
16  2016  용산구    한남동   15669  21136.416667
5   2016  용산구    효창동    2991   9525.833333
1   2016  용산구    후암동    4561  18909.750000

In [19]:
c_y = c_y.dropna(0)
c_y

      기간  자치구      동    주차장          mean
3   2016  용산구    남영동   5405   8168.000000
12  2016  용산구    보광동   2033  16037.083333
11  2016  용산구   서빙고동   6527  13827.166667
6   2016  용산구    용문동   3877  12825.666667
2   2016  용산구  용산2가동   1684  11630.666667
14  2016  용산구  원효로1동   7882  13935.083333
4   2016  용산구  원효로2동   5196  15424.250000
7   2016  용산구   이촌1동  10380  27751.916667
8   2016  용산구   이촌2동   2322   9402.583333
9   2016  용산구  이태원1동   2742   7435.666667
10  2016  용산구  이태원2동   4017   9756.000000
13  2016  용산구    청파동   5743  21255.500000
15  2016  용산구   한강로동  21443  14925.500000
16  2016  용산구    한남동  15669  21136.416667
5   2016  용산구    효창동   2991   9525.833333
1   2016  용산구    후암동   4561  18909.750000

In [24]:
c_y['result'] = c_y['mean'] / c_y['주차장']
#c_y['result'] = c_y.sort_values(by=['result'], ascending=False)
c_y

<ipython-input-24-136c8b316e78>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_y['result'] = c_y['mean'] / c_y['주차장']

      기간  자치구      동    주차장          mean    result
3   2016  용산구    남영동   5405   8168.000000  1.511193
12  2016  용산구    보광동   2033  16037.083333  7.888383
11  2016  용산구   서빙고동   6527  13827.166667  2.118457
6   2016  용산구    용문동   3877  12825.666667  3.308142
2   2016  용산구  용산2가동   1684  11630.666667  6.906572
14  2016  용산구  원효로1동   7882  13935.083333  1.767963
4   2016  용산구  원효로2동   5196  15424.250000  2.968485
7   2016  용산구   이촌1동  10380  27751.916667  2.673595
8   2016  용산구   이촌2동   2322   9402.583333  4.049347
9   2016  용산구  이태원1동   2742   7435.666667  2.711768
10  2016  용산구  이태원2동   4017   9756.000000  2.428678
13  2016  용산구    청파동   5743  21255.500000  3.701114
15  2016  용산구   한강로동  21443  14925.500000  0.696055
16  2016  용산구    한남동  15669  21136.416667  1.348932
5   2016  용산구    효창동   2991   9525.833333  3.184832
1   2016  용산구    후암동   4561  18909.750000  4.145966

In [26]:
# csv 파일로 저장
c_y.to_csv("용산구_거주인구 순위.csv")