# 용산구_유동인구 순위
* 용산구_유동인구_비율.csv 이용
* 서울시 주차장(동별) 통계.xls 이용
* 유동인구 * 10000 / 주차장 수 -> 순위 선정

In [1]:
import pandas as pd
import numpy as np

## 용산구_주차장 데이터

In [2]:
pk = pd.read_excel("data/서울시 주차장(동별) 통계.xls")

In [3]:
columns = ["자치구", "동", "합계.1"]
pk = pk[columns].copy()
pk = pk.drop([0])

In [4]:
# 용산구
is_y = pk['자치구'] == '용산구'
pk_y = pk[is_y]
pk_y

    자치구      동    합계.1
37  용산구     소계  102472
38  용산구    후암동    4561
39  용산구  용산2가동    1684
40  용산구    남영동    5405
41  용산구  원효로2동    5196
42  용산구    효창동    2991
43  용산구    용문동    3877
44  용산구   이촌1동   10380
45  용산구   이촌2동    2322
46  용산구  이태원1동    2742
47  용산구  이태원2동    4017
48  용산구   서빙고동    6527
49  용산구    보광동    2033
50  용산구    청파동    5743
51  용산구  원효로1동    7882
52  용산구   한강로동   21443
53  용산구    한남동   15669

In [5]:
#컬럼 이름 변경
pk_y.rename(columns = {'합계.1' : '주차장'}, inplace = True)
pk_y

C:\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

    자치구      동     주차장
37  용산구     소계  102472
38  용산구    후암동    4561
39  용산구  용산2가동    1684
40  용산구    남영동    5405
41  용산구  원효로2동    5196
42  용산구    효창동    2991
43  용산구    용문동    3877
44  용산구   이촌1동   10380
45  용산구   이촌2동    2322
46  용산구  이태원1동    2742
47  용산구  이태원2동    4017
48  용산구   서빙고동    6527
49  용산구    보광동    2033
50  용산구    청파동    5743
51  용산구  원효로1동    7882
52  용산구   한강로동   21443
53  용산구    한남동   15669

## 유동인구 데이터

In [6]:
p = pd.read_csv("data/용산구_유동인구_비율.csv")
p

    Unnamed: 0 ADMI_NM         P
0          395    한강로동  0.005531
1          396     한남동  0.003831
2          387     청파동  0.002767
3           52     남영동  0.002259
4          318   이태원1동  0.001945
5          316    이촌1동  0.001829
6          296   용산2가동  0.001634
7          301   원효로2동  0.001443
8          300   원효로1동  0.001405
9          189    서빙고동  0.001202
10         319   이태원2동  0.001190
11         418     효창동  0.001155
12         419     후암동  0.001094
13         146     보광동  0.000993
14         295     용문동  0.000844
15         317    이촌2동  0.000421

In [7]:
p['P'] = p['P'] * 10000
p

    Unnamed: 0 ADMI_NM          P
0          395    한강로동  55.312881
1          396     한남동  38.308934
2          387     청파동  27.668684
3           52     남영동  22.589558
4          318   이태원1동  19.447155
5          316    이촌1동  18.294357
6          296   용산2가동  16.340639
7          301   원효로2동  14.427836
8          300   원효로1동  14.052582
9          189    서빙고동  12.021186
10         319   이태원2동  11.898217
11         418     효창동  11.545432
12         419     후암동  10.938469
13         146     보광동   9.928529
14         295     용문동   8.437643
15         317    이촌2동   4.209720

In [8]:
# 컬럼 이름 변경
p.rename(columns = {'ADMI_NM' : '동'}, inplace = True)
p

    Unnamed: 0      동          P
0          395   한강로동  55.312881
1          396    한남동  38.308934
2          387    청파동  27.668684
3           52    남영동  22.589558
4          318  이태원1동  19.447155
5          316   이촌1동  18.294357
6          296  용산2가동  16.340639
7          301  원효로2동  14.427836
8          300  원효로1동  14.052582
9          189   서빙고동  12.021186
10         319  이태원2동  11.898217
11         418    효창동  11.545432
12         419    후암동  10.938469
13         146    보광동   9.928529
14         295    용문동   8.437643
15         317   이촌2동   4.209720

## 순위 선정

In [9]:
#데이터 병합
df = pd.merge(pk_y, p, how='outer')
df = df.sort_values(by=['동'])
del df['Unnamed: 0']

#Null 값 제거
df = df.dropna(0)
df

    자치구      동    주차장          P
3   용산구    남영동   5405  22.589558
12  용산구    보광동   2033   9.928529
11  용산구   서빙고동   6527  12.021186
6   용산구    용문동   3877   8.437643
2   용산구  용산2가동   1684  16.340639
14  용산구  원효로1동   7882  14.052582
4   용산구  원효로2동   5196  14.427836
7   용산구   이촌1동  10380  18.294357
8   용산구   이촌2동   2322   4.209720
9   용산구  이태원1동   2742  19.447155
10  용산구  이태원2동   4017  11.898217
13  용산구    청파동   5743  27.668684
15  용산구   한강로동  21443  55.312881
16  용산구    한남동  15669  38.308934
5   용산구    효창동   2991  11.545432
1   용산구    후암동   4561  10.938469

In [10]:
df['result'] = df['P'] / df['주차장']
df = df.sort_values(by=['result'], ascending=False)
df

    자치구      동    주차장          P    result
2   용산구  용산2가동   1684  16.340639  0.009703
9   용산구  이태원1동   2742  19.447155  0.007092
12  용산구    보광동   2033   9.928529  0.004884
13  용산구    청파동   5743  27.668684  0.004818
3   용산구    남영동   5405  22.589558  0.004179
5   용산구    효창동   2991  11.545432   0.00386
10  용산구  이태원2동   4017  11.898217  0.002962
4   용산구  원효로2동   5196  14.427836  0.002777
15  용산구   한강로동  21443  55.312881   0.00258
16  용산구    한남동  15669  38.308934  0.002445
1   용산구    후암동   4561  10.938469  0.002398
6   용산구    용문동   3877   8.437643  0.002176
11  용산구   서빙고동   6527  12.021186  0.001842
8   용산구   이촌2동   2322   4.209720  0.001813
14  용산구  원효로1동   7882  14.052582  0.001783
7   용산구   이촌1동  10380  18.294357  0.001762

In [11]:
df.to_csv("용산구_유동인구 순위.csv")

In [13]:
df_1 = pd.read_csv("용산구_유동인구 순위.csv")
df_1

    Unnamed: 0  자치구      동    주차장          P    result
0            2  용산구  용산2가동   1684  16.340639  0.009703
1            9  용산구  이태원1동   2742  19.447155  0.007092
2           12  용산구    보광동   2033   9.928529  0.004884
3           13  용산구    청파동   5743  27.668684  0.004818
4            3  용산구    남영동   5405  22.589558  0.004179
5            5  용산구    효창동   2991  11.545432  0.003860
6           10  용산구  이태원2동   4017  11.898217  0.002962
7            4  용산구  원효로2동   5196  14.427836  0.002777
8           15  용산구   한강로동  21443  55.312881  0.002580
9           16  용산구    한남동  15669  38.308934  0.002445
10           1  용산구    후암동   4561  10.938469  0.002398
11           6  용산구    용문동   3877   8.437643  0.002176
12          11  용산구   서빙고동   6527  12.021186  0.001842
13           8  용산구   이촌2동   2322   4.209720  0.001813
14          14  용산구  원효로1동   7882  14.052582  0.001783
15           7  용산구   이촌1동  10380  18.294357  0.001762