# 주차장 수 대비 불법주정차 건수

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# 동 병합 함수

def combineD(df,g,s):

    condition = df['동'].str.contains(s)
    _df = df[condition]
    _index = _df.index
    df.loc[_index[0]] = (g,s+'동',_df['주차장 수'].sum())
    df = df.drop(index=_index[1:])
    return df

def combineU(df,g,s):

    condition = df['동'].str.contains(s)
    _df = df[condition]
    _index = _df.index
    df.loc[_index[0]] = (g,s+'동',_df['불법주정차 수'].sum())
    df = df.drop(index=_index[1:])
    return df

### 01. 불법주정차 데이터

In [3]:
df = gpd.read_file("TL_UNLAW_PKSP_RET_LC_2017.shp",encoding='cp949')
pd.set_option('display.max_columns', None)

df.info()
df

NameError: name 'gpd' is not defined

In [ ]:
df.duplicated().sum()

In [ ]:
# 갯수 세기 위해 cnt 열 추가
df['cnt'] = 1
df.head()

In [ ]:
# 구별 그룹화 진행

df_g = df.groupby(['SGG_NM','EMD_NM']).sum().reset_index()
df_g

In [ ]:
# 구별 그룹화 진행(cnt만)

df_c = df.groupby(['SGG_NM','EMD_NM'])['cnt'].sum().reset_index()
df_c

In [ ]:
# 9개 구 추출

pd.set_option('display.max_rows', None)
condition = df_c['SGG_NM'].str.contains("은평구|마포구|서대문구|종로구|용산구|중구|성북구|강북구|도봉구")
f_df = df_c[condition]
f_df = f_df.sort_values(by=['SGG_NM'])
f_df

In [ ]:
# 컬럼 이름 변경
f_df.rename(columns = {'SGG_NM' : '자치구'}, inplace = True)
f_df.rename(columns = {'EMD_NM' : '동'}, inplace = True)
f_df.rename(columns = {'cnt' : '불법주정차 수'}, inplace = True)
f_df = f_df.reset_index()
del f_df['index']
f_df

In [ ]:
# 236,99,41,101 제거

f_df = f_df.drop([41,99,101,238])
f_df.head()

In [ ]:
# 타입변경
f_df = f_df.astype({'불법주정차 수': 'float'})
f_df.info()

In [ ]:
f_df

In [ ]:
f_df = combineU(f_df,'서대문구','충정로')
f_df = combineU(f_df,'성북구','삼선')
f_df = combineU(f_df,'성북구','성북')
f_df = combineU(f_df,'성북구','안암')
f_df = combineU(f_df,'성북구','보문')
f_df = combineU(f_df,'성북구','동소문')
f_df = combineU(f_df,'성북구','동선')
f_df = combineU(f_df,'용산구','원효로')
f_df = combineU(f_df,'용산구','청파')
f_df = combineU(f_df,'용산구','한강로')
f_df = combineU(f_df,'용산구','용산')
# f_df = combineU(f_df,'종로구','명륜')
f_df = combineU(f_df,'종로구','종로')
f_df = combineU(f_df,'종로구','신문로')
f_df = combineU(f_df,'중구','필')
f_df = combineU(f_df,'중구','인현')
f_df = combineU(f_df,'중구','장충')
f_df = combineU(f_df,'중구','을지로')
f_df = combineU(f_df,'중구','의주로')
f_df = combineU(f_df,'중구','저')
f_df = combineU(f_df,'중구','충무로')
f_df = combineU(f_df,'중구','회현')
f_df = combineU(f_df,'중구','태평로')
f_df = combineU(f_df,'중구','남산')
f_df = combineU(f_df,'중구','남대문로')
f_df = combineU(f_df,'중구','광희')
f_df = combineU(f_df,'중구','만리')
f_df = combineU(f_df,'중구','명')
f_df = combineU(f_df,'중구','봉래')

### 02. 주차장 데이터

In [ ]:
pkl=pd.read_csv('report.txt', sep = "\t", engine='python', encoding = "utf-8")
pkl.info()
pkl.head()

In [ ]:
# 구, 동, 합계만 

condition = pkl['자치구'].str.contains("은평구|마포구|서대문구|종로구|용산구|중구|성북구|강북구|도봉구")
df_p = pkl[condition]
df_p = df_p[['자치구','동','합계.1']]
df_p.head()

In [ ]:
# 소계 제거

park_df = df_p[df_p.동 != '소계']
park_df = park_df.sort_values(by=['자치구'])
park_df.rename(columns = {'합계.1' : '주차장 수'}, inplace = True)
park_df = park_df.reset_index()
del park_df['index']
park_df

In [ ]:
# 타읿 변경
park_df['주차장 수'] = park_df['주차장 수'].apply(lambda x: x.replace(',', ''))
park_df['주차장 수']= pd.to_numeric(park_df['주차장 수'])

In [ ]:
park_df.info()

In [ ]:
# 동 병합
park_df = combineD(park_df,'강북구','수유')
park_df = combineD(park_df,'강북구','번')
park_df = combineD(park_df,'도봉구','쌍문')
park_df = combineD(park_df,'도봉구','방학')
park_df = combineD(park_df,'도봉구','창')
park_df = combineD(park_df,'도봉구','도봉')
park_df = combineD(park_df,'마포구','성산')
park_df = combineD(park_df,'마포구','망원')
park_df = combineD(park_df,'서대문구','홍제')
park_df = combineD(park_df,'서대문구','홍은')
park_df = combineD(park_df,'서대문구','북가좌')
park_df = combineD(park_df,'서대문구','남가좌')
park_df = combineD(park_df,'성북구','정릉')
park_df = combineD(park_df,'성북구','돈암')
park_df = combineD(park_df,'성북구','장위')
park_df = combineD(park_df,'성북구','월곡')
park_df = combineD(park_df,'성북구','길음')
park_df = combineD(park_df,'용산구','이태원')
park_df = combineD(park_df,'용산구','이촌')
park_df = combineD(park_df,'용산구','원효로')
park_df = combineD(park_df,'은평구','응암')
park_df = combineD(park_df,'은평구','신사')
park_df = combineD(park_df,'은평구','갈현')
park_df = combineD(park_df,'은평구','불광')
park_df = combineD(park_df,'종로구','숭인')
park_df = combineD(park_df,'종로구','종로')
park_df = combineD(park_df,'종로구','효자')
park_df = combineD(park_df,'중구','신당')

In [ ]:
park_df

### 03. 데이터 병합

In [ ]:
DF = pd.merge(f_df,park_df,how='outer')
DF = DF.sort_values(by=['자치구'])
DF = DF.reset_index()
del DF['index']
DF.info()
DF

In [ ]:
# Null값 제거

DF = DF.dropna(0)
DF.info()
DF.head()

In [ ]:
DF['UR/P'] = DF['불법주정차 수'] / DF['주차장 수']
DF.head()

In [ ]:
DF = DF.sort_values(by=['UR/P'],ascending=False)
DF.head()

In [ ]:
def callTop3(df,s1):
    condition = df['자치구'].str.contains(s1)
    df_f = df[condition]
    df_f = df_f.reset_index()
    df_f = df_f.loc['0':'2','자치구':'UR/P']
    return df_f

In [ ]:
df1 = callTop3(DF,'중구')
df2 = callTop3(DF,'마포구')
df3 = callTop3(DF,'서대문구')
df4 = callTop3(DF,'용산구')
df5 = callTop3(DF,'성북구')
df6 = callTop3(DF,'종로구')
df7 = callTop3(DF,'도봉구')
df8 = callTop3(DF,'강북구')
df9 = callTop3(DF,'은평구')

In [ ]:
df_final = pd.concat([df1,df2])
df_final = pd.concat([df_final,df3])
df_final = pd.concat([df_final,df4])
df_final = pd.concat([df_final,df5])
df_final = pd.concat([df_final,df6])
df_final = pd.concat([df_final,df7])
df_final = pd.concat([df_final,df8])
df_final = pd.concat([df_final,df9])

In [ ]:
df_final